<script type="text/javascript">
    RED.nodes.registerType('edifact-to-json',{
        category: 'parser',
        color: '#b77d00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"edifact-to-json";
        }
    });
</script>

<script type="text/html" data-template-name="edifact-to-json">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="edifact-to-json">
    <p>A simple node that converts an order edifact A68 in javascript object for use</p>
</script>
